.flashcard {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text {
  font-size: 20px;
  margin-bottom: 10px;
}

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

.input {
  font-size: 18px;
  margin-bottom: 10px;
}

.button {
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 10px;
}

.feedback {
  font-size: 20px;
  margin-top: 20px;
}
